/* 基础 */
body {
  font-family: sans-serif,"微软雅黑";
  font-size: 0.28rem;
  overflow: hidden;
}
html,body,ul,li,p{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
i,em{
  font-style: normal;
}
.iconfont{
  font-size: 26px
}
html,body,#root,.App{
  height: 100%;
  overflow: hidden;
}
.page{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* antd组件修改 */