/* 基础 */
body {
  font-family: sans-serif,"微软雅黑";
  font-size: 0.28rem;
  overflow: hidden;
}
html,body,ul,li,p,input,button{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
i,em{
  font-style: normal;
}
.iconfont{
  font-size: 26px
}
html,body,#root,.App{
  height: 100%;
  overflow: hidden;
}
.page{
  flex:1
}
.App{
  display: flex;
  flex-direction: column;
}
.footer{
  flex: none
}
.mask{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
/* antd组件修改 */
/* 动画 */